.Button {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--blue-1);
  box-shadow: 0 0 10px gray;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--blue-2);
  }
  &:active {
    background-color: var(--blue-3);
  }
}
